*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/google-services.json
/home/deren/AndroidStudioProjects/SourceReadPrototype/app/build/generated/res/google-services/debug/values/values.xml
